html {
  font-family: "Oswald";
  background-color: black;
  color: red;
  width: 100%;
  height: 100%;
}

#heading {
  color: red;
  text-align: center;
}

#count {
  color: red;
  text-align: center;
  font-size: 5rem;
}

.btn-section {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  font-size: 2rem;
  color: red;
  background-color: darkslategrey;
}

#increaseBy {
  max-width: 3rem;
  font-size: 2rem;
}
